# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/
.eggs/
pip-wheel-metadata/
*.pyc
*.pyo
*.pyd
.Python

# Virtualenv
venv/
.env/
.envrc

# Pytest cache
.pytest_cache/

# VSCode
.vscode/

# macOS
.DS_Store

tree.svg